<!-- Main footer -->
<footer class="footer-main">
    <div class="wrap footer-main-top">

       <!-- Logo -->
       <a class="coop-logo" aria-label="Homepage" href="/">
           {% include logo.html %}
       </a>
       <!-- /Logo -->

    </div>

    <nav class="bottom-links">
        <ul class="wrap">
            <li><a href="#">Privacy & cookies</a></li>
            <li><a href="#">Accessibility</a></li>
            <li><a href="#">Terms & conditions</a></li>
        </ul>
    </nav>

    <div class="wrap legalese">
        <p>Copyright &copy; Co-operative Group Limited. All rights reserved.</p>
    </div>

</footer>
<!-- /Main footer -->
