<nav class="coop-c-skip-nav">
    <ul class="coop-c-skip-nav__list">
        <li><a accesskey="c" href="#main" title="Skip to main content" class="coop-c-skip-nav__link"> Skip to content</a></li>
        <li><a accesskey="n" href="#navigation" title="Skip to primary navigation" class="coop-c-skip-nav__link">Skip to navigation</a></li>
    </ul>
</nav>
<header class="coop-l-wrap coop-u-margin-resp-t-32-16 coop-u-margin-resp-b-32-16">
    <a class="coop-logo" aria-label="Homepage" href="/">
        {% include logo.html %}
    </a>
</header>

